jax[cuda11_pip]==0.4.20
jupyterlab-widgets==3.0.9
keras==2.14.0
numpy==1.23.5
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opencv-python-headless==4.8.1.78
pandas==1.5.3
Pillow==9.4.0
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.11.3
seaborn==0.12.2
sklearn-pandas==2.2.0
statsmodels==0.14.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.14.0
tensorflow-gcs-config==2.14.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.22.0
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchdata==0.7.0
torchsummary==1.5.1
torchtext==0.16.0
torchaudio==0.16.0+cu118